*.exe
*.gz
*.log
*.stackdump
*~
.DS_Store
.gdb_history
.gdbinit
.libs
INSTALL
INSTALL
LICENSE.txt
LICENSE.txt
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.cache
config.log
config.status
configure
git-version.h
gtk-doc.make
install-sh
libtool
mkinstalldirs
nblex*bz2
nblex*gz
